:root {
    --text-color: #333; 
    --bg-color: #777; 
    /* --canvas-bg-color: rgb(68, 27, 0); */
    --button-color: #44444480;
    --button-hover-color: #666;
}

h1 {
    font-size: large;
    font-weight: bold;
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
    text-align: center;
    font-family: sans-serif;
}

a {
    color: var(--text-color);
}

aside {
    position: absolute;
    left: 0px;
    padding: 2em;
    /* background-color: rgba(0, 0, 0, 0.4); */
}

button {
    background-color: var(--button-color);
    color: white;
    padding: 2em;
    border: none;
    border-radius: 10% 10%; 
    cursor:pointer;
}

button:hover {
    background-color: var(--button-hover-color);
}

canvas {
    /* background-color: var(--canvas-bg-color); */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

canvas#board {
    border: solid 1px black;
}