:root {
    --text-color: #333; 
    --bg-color: #999; 
    --canvas-bg-color: rgb(68, 27, 0);
}

h1 {
    font-size: large;
    font-weight: bold;
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
    text-align: center;
    font-family: sans-serif;
}

a {
    color: var(--text-color);
}

canvas {
    /* background-color: var(--canvas-bg-color); */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    border: solid 1px black;
}